@reference "tailwindcss/theme";

.tipex-editor {
    border-radius: 0;
    background-color: var(--color-gray-950);
    width: 100%;
}

.tipex-editor-wrap {
    background-color: var(--color-gray-950);
}

.tipex-editor-section {
    background-color: var(--color-gray-950);
}

.tipex-controller {
    background-color: var(--color-gray-900) !important;
    border: none;
    border-radius: 0;
    @apply rounded-t-2xl md:rounded-tl-none;
}
.tipex-edit-button {
    background-color: var(--color-gray-800) !important;
    border: none;
    border-radius: var(--radius-lg) !important;
    padding: 4px !important;
}
.tipex-edit-button:hover {
    background-color: var(--color-gray-700) !important;
    transform: none;
    transition: all 200ms;
}
.tipex-edit-button.active {
    background-color: var(--color-gray-700) !important;
}

.tipex-utilities {
    width: auto;
}

.tipex-floating-group {
    position: absolute;
    background-color: var(--color-gray-900) !important;
    border: 1px solid var(--color-gray-700) !important;
    border-radius: var(--radius-lg);
    margin-left: 11px;
    padding: 4px;
    gap: 4px;
}

.tipex-floating-button {
    background-color: var(--color-gray-800) !important;
    color: var(--color-gray-100) !important;
    border: none;
    border-radius: var(--radius-md);
}
.tipex-floating-button:hover {
    background-color: var(--color-gray-700) !important;
    transition: all 200ms;
}
