@reference "tailwindcss/theme";

.tipex-editor {
    border-radius: 0;
    background-color: var(--color-background);
}

.tipex-editor-wrap {
    background-color: var(--color-background);
}

.tipex-editor-section {
    background-color: var(--color-background);
    padding: 0 !important;
}

.ProseMirror {
    padding: 0 !important;
}

.tipex-controller {
    background-color: var(--color-card) !important;
    border: none;
    @apply w-full rounded-t-lg;
}

.tipex-edit-button {
    background-color: var(--color-card) !important;
    border: none;
    border-radius: var(--radius-lg) !important;
}
.tipex-edit-button:hover {
    background-color: var(--color-secondary) !important;
    transform: none;
    transition: all 200ms;
}
.tipex-edit-button.active {
    background-color: var(--color-secondary) !important;
}

.tipex-utilities {
    width: auto;
}

.tipex-floating-group {
    position: absolute;
    background-color: var(--color-card) !important;
    border: 1px solid var(--color-secondary) !important;
    border-radius: var(--radius-lg);
    margin-left: 11px;
    padding: 4px;
    gap: 4px;
}

.tipex-floating-button {
    background-color: var(--color-card) !important;
    color: var(--color-foreground) !important;
    border: none;
    border-radius: var(--radius-md);
}
.tipex-floating-button:hover {
    background-color: var(--color-secondary) !important;
    transition: all 200ms;
}
