@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --breakpoint-3xl: 2560px;

    --font-coc: COC;

    --color-blurple: #5764f2;
    --color-blurple-light: #c7d2fe;
}

@font-face {
    font-family: "COC";
    font-style: normal;
    font-display: swap;
    src: url("/fonts/coc.otf") format("opentype");
    font-weight: 100 600;
}

@font-face {
    font-family: "COC";
    font-style: normal;
    font-display: swap;
    src: url("/fonts/coc_bold.otf") format("opentype");
    font-weight: 700 900;
}

body {
    font-family: "COC", sans-serif;
    background-color: var(--color-gray-950);
    color: var(--color-gray-50);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-800);
    border-radius: 0rem;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

@layer base {
    .animate-bg {
        background: radial-gradient(
            circle at 100%,
            var(--color-orange-600),
            var(--color-yellow-400) 15%,
            var(--color-yellow-400) 30%,
            var(--color-orange-600) 45%,
            var(--color-orange-600) 60%,
            var(--color-yellow-400) 75%,
            var(--color-orange-600) 90%
        );
        color: transparent;
        background-size: 200% auto;
        animation: gradient 5s linear infinite;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 200% center;
    }
}

@layer components {
    .input\/select {
        border: 1px solid var(--color-gray-700);
        border-radius: var(--radius-lg);
        background: linear-gradient(to right, var(--color-gray-900), var(--color-gray-800), var(--color-gray-900));
    }
    .input\/select:focus {
        border-color: var(--color-blue-700);
        @apply ring-0! outline-hidden! transition-colors!;
    }
    .input\/select:disabled {
        cursor: not-allowed;
        opacity: 50%;
    }
    .input\/select::-webkit-outer-spin-button,
    .input\/select::-webkit-inner-spin-button {
        display: none;
        margin: 0;
    }
}
