@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --breakpoint-3xl: 2560px;

    --font-coc: COC;

    --color-blurple: #5764f2;
    --color-blurple-light: #c7d2fe;
}

@font-face {
    font-family: "COC";
    font-style: normal;
    font-display: swap;
    src: url("/fonts/coc.otf") format("opentype");
    font-weight: 100 600;
}

@font-face {
    font-family: "COC";
    font-style: normal;
    font-display: swap;
    src: url("/fonts/coc_bold.otf") format("opentype");
    font-weight: 700 900;
}

body {
    font-family: "COC", sans-serif;
    background-color: var(--color-gray-950);
    color: var(--color-gray-50);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    @apply w-0 md:w-[0.8rem];
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-800);
    border-radius: 0rem;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

@layer base {
    .animate-bg {
        background: radial-gradient(
            circle at 100%,
            var(--color-orange-600),
            var(--color-yellow-400) 15%,
            var(--color-yellow-400) 30%,
            var(--color-orange-600) 45%,
            var(--color-orange-600) 60%,
            var(--color-yellow-400) 75%,
            var(--color-orange-600) 90%
        );
        color: transparent;
        background-size: 200% auto;
        animation: gradient 5s linear infinite;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 200% center;
    }
}

.input,
input,
select {
    border: 1px solid var(--color-gray-700);
    border-radius: var(--radius-lg);
    padding: 8px;
    background: var(--color-gray-900);
}
input:focus,
select:focus {
    border-color: var(--color-blue-700) !important;
    box-shadow: none !important;
    outline: none !important;
}
input:disabled,
select:disabled {
    cursor: not-allowed;
    opacity: 50%;
}
input::-webkit-outer-spin-button,
select::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
select::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}

input[type="checkbox"] {
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color: var(--color-blue-700);
    color: var(--color-gray-50);
    border-color: var(--color-blue-700);
}

.ag-cell {
    display: flex;
    align-items: center;
}
